:root {
    --background-color: #ffff;
    --header-footer-background-color: #2F303A;
    --hover-color: #2196F3;
    --button-hover-color: #188CE8;
    --headings-color: #212121;
    --button-and-logo-color: #2196F3;
    --inactive-button-color: #F5F4FA;
    --active-button-color: #2196F3;
    --paragraph-color: #757575;
    --white-color: rgb(255, 255, 255);
    --partly-white-color: rgba(255, 255, 255, 0.6);
    --logo-black-color: #000000;

}
body{
    color: var(--paragraph-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.logo-web {
color: var(--button-and-logo-color);
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo-link {
    color: var(--logo-black-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;   
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.link {
    color: var(--headings-color);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.link:hover {
    color: var(--hover-color);
}

.link:focus {
    color: var(--hover-color);
}

.list-item{
    list-style: none;
}

.mail-link{
    color: var(--paragraph-color);
    text-decoration: none;  
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
  
}

.mail-link:hover{
    color: var(--hover-color);
}

.mail-link:focus {
    color: var(--hover-color);
}

.call-link {
    color: var(--paragraph-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    
}

.call-link:hover {
    color: var(--hover-color);
}

.call-link:focus {
    color: var(--hover-color);
}

.main-heading{
    background-color:var(--header-footer-background-color);
    color: var(--white-color);
    font-size: 44px;
    font-weight: 900;
    text-align: center;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-offer{
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--button-and-logo-color);
    border: none;
    cursor: pointer;    
}

.button-offer:hover {
    background-color: var(--button-hover-color);
}

.button-offer:active{
    background-color: var(--active-button-color);
}

.extra-heading{
    visibility: hidden;
}

.advantages-heading{
    color: var(--headings-color);
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text{
    font-size: 14px;
    color: var(--paragraph-color);
    line-height: 24px;
    letter-spacing: 0.03em;
}

.second-range-heading{
    color: var(--headings-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-list-heading{
    color: var(--headings-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-list-description{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.logo-link-footer {
    background-color:var(--header-footer-background-color);
    color: var(--white-color);
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.address-list{
    font-style: normal;
}

.address-item{
    list-style: none;
}

.location-link{
    background-color:var(--header-footer-background-color);
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.location-link:hover{
    color: var(--hover-color);
}

.location-link:focus {
    color: var(--hover-color);
}

.mail-link-address{
    background-color:var(--header-footer-background-color);
    color: var(--partly-white-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.mail-link-address:hover{
    color: var(--hover-color);
}

.mail-link-address:focus {
    color: var(--hover-color);
}

.call-link-address{
    background-color:var(--header-footer-background-color);
    color: var(--partly-white-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.call-link-address:hover {
    color: var(--hover-color);
}

.call-link-address:focus {
    color: var(--hover-color);
}

.filter-button{
    background-color: var(--inactive-button-color);
    color: var(--headings-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    border: none;    
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.filter-button:hover {
    background-color: var(--button-hover-color);
    color: var(--white-color);
}

.filter-button:focus {
    background-color: var(--button-hover-color);
    color: var(--white-color);
}

.filter-button:active{
    background-color: var(--active-button-color);
    color: var(--white-color);
}

.card-heading{
    color: var(--headings-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-description{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
